<div class="panel-heading text-center">Add a New Notice</div>
<div class="panel-body" *ngIf='teacher'>
  <form [formGroup]='form' (ngSubmit)='createTeacher()'>
    <div class="form-group col-sm-4">
      <label for="">Tourist Site</label>
      <input class="form-control" type='text' name="site" formControlName='site' required>
    </div>
 
     <div class="form-group col-sm-4">
      <label for="">Address</label>
      <input class="form-control" type='text' name="address" formControlName='address' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">TourId</label>
      <input class="form-control" type='text' name="tourId" formControlName='tourId' required>
    </div>
  

    <div class="form-group col-sm-4">
      <label for="">Description</label>
      <input class="form-control" type='textarea' name="description" formControlName='description' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Contacts</label>
      <input class="form-control" type='text' name="contacts" formControlName='contacts' required>
    </div>

    <div class="form-group col-sm-4">
      <input type="file" multiple name='productImage' (change)="onFileSelected($event)" formControlName='productImage' />
    </div>

    <div class="form-group col-sm-12">
      <div *ngIf='successMessage' class="alert alert-success">{{successMessage}}</div>
      <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>
    </div>

    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>

</div>